<h2 class="screen-align">UsedCreate</h2>
<div id="template-imk8" class="row">
    <div id="template-i7fb" class="cell">
        <label id="template-imtg" class="label">Name</label>
        <input id="template-ie8uw" [(ngModel)]="used.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-ielv" class="cell">
        <label id="template-inz1j" class="label">Email</label>
        <input id="template-ivxft" [(ngModel)]="used.email" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
    <div id="template-i2wc" class="cell">
        <label id="template-i1lzz" class="label">Address</label>
        <input id="template-i1ku7" [(ngModel)]="used.address" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
    </div>
</div>
<div id="template-i9qz" class="row">
    <div id="template-iatm" class="cell">
        <label id="template-ieinu" class="label">Phone</label>
        <input id="template-i2uru" [(ngModel)]="used.phone" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-i2k9j" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-i4qk" class="cell"></div>
    <div id="template-iko3" class="cell"></div>
</div>